.first-section {
  height: 100vh;
  background: linear-gradient(#000000c5, #000000c5),
    url("../../assets/img/kevin.jpg") no-repeat center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: move;
}

.dynamic {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background: linear-gradient(#000000f8, #ffffff00); */
}

.responsive,
.fast-load,
.testimonials {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px;
}
