.blog-card {
  background-color: white;
  width: 450px;
  border-radius: 20px;
  padding: 12px;
  text-decoration: none;
  transition-duration: 0.5s;
  margin: 12px;
}

.blog-card:hover {
  box-shadow: 0px 2px 6px #c9c9c9;
  transition-duration: 0.5s;
}
