.nav-item {
  color: #a5a4a8;
  padding: 7px;
  transition: 0.4s;
  z-index: 1;
  font-weight: 500;
  position: relative;
  font-weight: 600;
}

/* .nav-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-item:not(.is-active):hover {
  color: #333;
} */

.active-nav-btn {
  color: white;
}
